body {
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.tarea {
  text-decoration: none;
  color: black;
}

.tarea-completada {
  text-decoration: line-through;
}

.tarea-eliminar {
  cursor: pointer;
}
